body {
    background-color: #686868;
}

.about-container {
    margin: 5rem 4rem;
    display: flex;
    flex-direction: row;
}

.about-container img {
    height: 300px;
    width: auto;
    margin: 0.5em;
}

#left-container {
    margin-left: 5rem;
    width: 50%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}

#left-container a {
    margin: 20px auto auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    color: rgb(50,55,70);;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#left-container a:hover {
    transform: scale(1.2);
    background-color: rgb(50,55,70);
    color: rgb(255, 255, 255);
}

#right-container {
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#right-container > div {
    flex: 1 1 45%;
    margin: 0.5em;
}

@media screen and (max-width: 768px) {
    .about-container {
        margin: 2rem;
        flex-direction: column;
    }

    #left-container {
        margin-left: 0;
        width: 100%;
        font-size: 1rem;
    }

    #right-container {
        margin-left: 0;
    }

    #right-container > div {
        flex: 1 1 100%;
    }

    .about-container img {
        height: auto;
        width: 100%;
    }
}