body {
    color: black;
}

.root-container {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.admin-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-panel {
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-height: 80vh;
    display: flex;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.admin-panel-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.order-container {
    display: flex;
    justify-content: center;
    max-height: 60vh;
    overflow-y: auto;
}

.order-table {
    border-spacing: 1rem;
}

.order-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.customer-name-button {
    all: unset;
}

.customer-name-button:hover {
    cursor: pointer;
    color: blue;
}

@media screen and (max-width: 768px) {
    .admin-panel-buttons-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 1300px) {
    .responsive-table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
    .responsive-table thead {
        display: none;
    }
    .responsive-table tr {
        display: block;
        margin-bottom: 10px;
    }
    .responsive-table td {
        display: block;
        text-align: right;
    }
    .responsive-table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}