* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: black;
}

.root-container {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.admin-panel {
    margin-top: 6rem;
    margin-bottom: 2rem;
    max-height: 80vh;
    display: flex;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.admin-panel-buttons-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#admin-content-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

.admin-panel-buttons-container button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 37, 54);
    color: white;
    font-size: 1rem;
}

.admin-panel-buttons-container button:hover {
    cursor: pointer;
    background-color: #7e0030;
}

.admin-content-input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admin-edit-button {
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 37, 54);
    color: white;
    font-size: 1rem;

}


.order-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: rgb(32, 37, 54);
    color: white;
}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(32, 37, 54);
    color: white;
}

.customer-name-button {
    all: unset;
}

.customer-name-button:hover {
    cursor: pointer;
    color: blue;
}


.menu-container, .user-container {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}


.menu-table, .user-table, .order-table {
    border-spacing: 1rem;
}

.description-cell {
    max-width: 200px;
    word-wrap: break-word;
}


.menu-header-button {
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 37, 54);
    color: white;
    font-size: 1rem;
}

.menu-header-button:hover {
    cursor: pointer;
    background-color: #7e0030;
}

.menu-item-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgb(32, 37, 54);
    border-radius: 5px;
    background-color: #f0f0f0;
}

.menu-item-form input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu-item-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 37, 54);
    color: white;
    font-size: 1rem;
}

.menu-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .admin-panel-buttons-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 1300px) {
    .responsive-table, .responsive-menu-table, .responsive-user-table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
    .responsive-table thead, .responsive-menu-table thead, .responsive-user-table thead{
        display: none;
    }
    .responsive-table tr, .responsive-menu-table tr, .responsive-user-table tr {
        display: block;
        margin-bottom: 10px;
    }
    .responsive-table td {
        display: block;
        text-align: right;
    }

    .responsive-menu-table td, .responsive-user-table td{
        display: block;
        text-align: center;
    }
    .responsive-table td::before, .responsive-menu-table td::before, .responsive-user-table td::before{
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .button-container {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}