main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-container {
    width: 500px;
    padding: 20px;
    background-color: rgb(32,37,54);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.order-container form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.5rem;
    gap: 0.5rem;
}

.order-container label {
    margin-bottom: 7px;
}

.order-container input, select, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.order-container button {
    background-color: rgb(151, 255, 142);
    padding: 8px;
    border-style: none;
    border-radius: 5px;
}
