.root-container {
    background-image: url('/media/wall-texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 2;
}


.order-container {
    display: flex;
    animation: fadeInMoveUp 1s ease-out;
}

.customer-information {
    width: 25rem;
    background-color: rgb(255, 255, 255);
    color: rgb(32,37,54);
    border-left:solid 3px rgb(32,37,54);
    border-top: solid 3px rgb(32,37,54);
    border-bottom: solid 3px rgb(32,37,54);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 20px;
}

input[readonly] {
    background-color: #9f9f9f;
}

h1 {
    font-size: 1.5em;
    margin: 20px auto auto;
}

.customer-information form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.5rem;
    gap: 0.5rem;
}

.customer-information label {
    margin-bottom: 7px;
}

.customer-information input, textarea {
    width: 75%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: auto auto 7px;
}

.order-summary {
    width: 30rem;
    background-color: rgb(32,37,54);
    padding-bottom: 30px;
    border-right:solid 3px #f2f2f2;
    border-top: solid 3px #f2f2f2;
    border-bottom: solid 3px #f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 500px;
    overflow: auto;
}

.order-summary-table {
    margin: 20px auto auto;
    width: 70%;
}

.order-summary-table thead {
    font-size: 1.5em;
}

thead th {
    border-bottom: 1px solid #ffffff;
}

tbody tr {
    display: flex;
    flex-direction: column;
    margin: 7px 0 7px 0;
    border-bottom: 1px solid #ffffff;
}

tbody td {
    text-align: left;
    margin: 7px 0 7px 0;
}

.order-summary button {
    margin: 20px auto auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    color: rgb(50,55,70);
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.order-summary button:hover {
    transform: scale(1.2);
    background-color: rgb(50,55,70);
    color: rgb(255, 255, 255);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: rgb(32,37,54);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 25%;
}

.modal-content img {
    width: 75px;
    height: 75px;
}

#order-completed {
    display: none;
    margin: 0 auto;
    animation: pulse 1s;
}

#order-not-completed {
    display: none;
    margin: 0 auto;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.order-completed {
    display: none;
}

.order-not-completed {
    display: none;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translateX(0px); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(0px); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
