main {
    text-align: center;
    margin: 5rem auto;
}


main p {
    font-size: 1.2em;
}

.root-container {
    background: url(../media/pizza-levite.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.feedback {
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.feedback img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h2 + small {
    display: block;
}

.feedback_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feedback_box {
    flex: 1 0 200px;
    margin: 10px;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

}

.feedback_box:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

#pizzeria {
    background-color: #f2f2f2;
    width: 40%;
}

@media screen and (max-width: 600px) {
    main {
        padding: 20px;
    }

    main h1 {
        font-size: 1.5em;
    }

    main p {
        font-size: 1em;
    }

    .feedback, .feedback_box {
        padding: 10px;
    }

    .feedback img {
        width: 30px;
        height: 30px;
    }
}
