main {
    text-align: center;
    margin: auto;
    width: 100%;
}


main p {
    font-size: 1.2em;
}

.root-container {
    background: url(../media/blackbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#top-image-container {
    background-image: url('/media/Pizza-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.feedback {
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.feedback img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h2 + small {
    display: block;
}

.feedback_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feedback_box {
    flex: 1 0 200px;
    margin: 10px;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

}

.feedback_box:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.center-div {
    background-image: url('/media/wall-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 80vw;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5)
}

.red {
    color: red;
}

.white {
    color: white;
}

.green {
    color: green;
}

.enrico {
    margin-top: 27rem;
    margin-left: 40rem;
    font-size: 4rem;
    font-weight: bold;
}

#pizzeria {
    background-color: #f2f2f2;
    width: 40%;
}

#center-div-image {
    display: flex;
    flex-direction: column;
}

#center-div-image img {
    margin-top: -8rem;
    margin-left: 68rem;
    width: 40%;
}

#center-div-image p {
    margin-top: -5px;
    margin-left: 68.1rem;
    width: 40%;
    padding: 20px 0;
    background-color: rgb(248,243,234);
    color: black;
}

@media screen and (max-width: 600px) {
    main {
        padding: 20px;
    }

    main h1 {
        font-size: 1.5em;
    }

    main p {
        font-size: 1em;
    }

    .feedback, .feedback_box {
        padding: 10px;
    }

    .feedback img {
        width: 30px;
        height: 30px;
    }

    .enrico {
        margin-top: 5%;
        margin-left: 5%;
        font-size: 3vw;
    }

    #center-div-image img {
        width: 100%; /* Full width */
    }

    #center-div-image p {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }
}

