.root-container {
    background: url(../media/login-background.jpg);
}

.login-content {
    width: 400px;
    padding: 20px;
    background-color: rgb(32,37,54);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 0 auto;
}

.login-header {
    text-align: center;
}

.login-header h1 {
    font-size: 2em;
    color: #ffffff;
}

.login-header p {
    color: #ffffff;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    margin-top: 5px;
    display: block;
    color: #ffffff;
}

.submit-button {
    margin: 20px auto auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    color: rgb(50,55,70);;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.submit-button:hover {
    transform: scale(1.2);
    background-color: rgb(50,55,70);
    color: rgb(255, 255, 255);
}

.signup-text {
    text-align: center;
    color: #f2f2f2;
}

.signup-link {
    color: #000000;
    text-decoration: none;
    font-style: italic;
}

#status-message {
    height: 20px;
    text-align: center;
}