@import url("https://fonts.googleapis.com/css2?family=Lugrasimo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header {

    width: 100%;
    position: fixed;
    flex-shrink: 1;
    flex-grow: 0;
    background-color: rgb(32,37,54);
    z-index: 1000;
}

:root {
    --main-color: #ffb411;
    --text-color: #ffffff;
    --bg-color: #fff;
}

.root-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 1rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;

}

#main-nav-links {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    letter-spacing: 1px;
    font-size: large;
    align-items: center;
}

#main-nav-links li, .cart-container img, .nav-logo-box {
    transition: transform 0.3s ease;
}

#main-nav-links li:hover, .cart-container img:hover, .nav-logo-box:hover {
    transform: scale(1.1);
}

nav a {
    font-family: "Arial", cursive;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;

}

nav img {
    height: 35px;
    width: 35px;
}

.login-signup-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

body {
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.socials img {
    width: 30px;
    height: 30px;
}

.nav-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    filter: invert(1);
}

#shoppingCart {
    width: 50px;
    height: 50px;
    margin: -15px 5px;
    cursor: pointer;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-content {
    max-height: 50vh;
    overflow: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: -365px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px;
    z-index: 999;
    color: black;
    background-image: url(/media/pine-wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

#cartProducts {
    margin-right: 2rem;
}

.cart-product {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;
}

.cart-product span {
    margin: 0 1rem;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-buttons button {
    max-height: 2rem;
    max-width: 2rem;
    background-color: darkgrey;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    border-style: none;
}

.proceed-to-checkout-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 32px;
}

.proceed-to-checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.proceed-to-checkout-button:hover {
    background-color: #0056b3;
}

.single-price {
    margin-left: 1rem;
}

#cart-count {
    position: absolute;
    top: -25px;
    right: 0;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
}

footer {
    background-image: url(/media/footer-image.jpg);
    background-repeat: repeat;
    background-position: center;
    color: black;
    padding: 2rem 0;
    font-size: 1.5rem;
    border-top: solid 1px black;
    width: 100%;
}

#order-banner {
    background-image: url(/media/footer-image.jpg);
    background-repeat: repeat;
    background-position: center;
    color: black;
    padding: 2.5rem;
    font-size: 1.5rem;
    border-top: solid 1px black;
    background-color: rgba(244, 185, 46, 0.5);
    background-blend-mode: multiply;
}
#main-nav-links, #side-bar-links {
    list-style: none;
}

#hamburger-icon-sidebar {
    position: absolute;
    right: 10px;
    font-size: 1.875rem;
    cursor: pointer;
}

#side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    /*placeholder color */
    background-color: #7e0030;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

#side-bar.show {
    transform: translateX(0);
}

#side-bar-links {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
}

#hamburger-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#social-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#social-icons img {
    height: 30px;
    width: auto;
    margin: 1em 1em;
    cursor: pointer;
}

#social-icons img:hover {
    filter: drop-shadow(0 0 15px black);
}

/* Responsive styles */

@media screen and (max-width: 768px) {

    footer {
        padding: 0;
    }

    #social-icons {
        margin-top: 0.5rem;
    }

    #social-icons img {
        margin: 0 0.5rem;
    }
    #main-nav-links {
        display: none;
    }

    #hamburger-icon {
        display: inline;
    }

    .navbar a {
        margin: 10px 0;
    }

    .navbar #order {
        margin-top: 20px;
    }
}
