.root-container {
    background: url(../media/login-background.jpg);
}

.signup-container {
    padding: 0 10px 0 10px;
    background-color: rgb(32,37,54);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.signup-header {
    text-align: center;
}

.signup-header h1 {
    font-size: 2em;
    color: #ffffff;
}

.signup-header p {
    color: #ffffff;
}

label {
    margin-top: 5px;
    display: block;
    color: #ffffff;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    margin: 20px auto auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    color: rgb(50,55,70);
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.2);
    background-color: rgb(50,55,70);
    color: rgb(255, 255, 255);
}

.login-text {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: #000000;
    text-decoration: none;
    font-style: italic;
}

.password-feedback {
    font-size: 0.8em;
}

#status-message {
    height: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .root-container{
        font-size: 0.8em;
    }
    .signup-container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .root-container{
        margin-top: 2rem;
        font-size: 0.6em;
        
    }
    .signup-container {
        width: 80%;
    }

    input {
        padding: 5px;
    }
}
