/* signup.css */

.root-container {
    background: url(../media/login-background.jpg);
}

.signup-header {
    text-align: center;
}

.signup-header h1 {
    font-size: 2em;
    color: #ffffff;
}

.signup-header p {
    color: #ffffff;
}

.signup-container {
    margin-top: 70px;
    width: 25%;
    padding: 10px;
    background-color: rgb(32,37,54);
    box-shadow: rgba(0, 0, 0, 0.2) 0 60px 40px -7px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.signup-container label {
    margin: auto;
}

.signup-container input {
    width: 24vw;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.signup-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.signup-subtitle {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 20px;
}

.submit-button {
    margin: 20px auto auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    color: rgb(50,55,70);
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.submit-button:hover {
    transform: scale(1.2);
    background-color: rgb(50,55,70);
    color: rgb(255, 255, 255);
}

.login-text {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: #000000;
    text-decoration: none;
    font-style: italic;
}

.password-feedback {
    font-size: 0.8em;
}

#status-message {
    height: 20px;
    text-align: center;
}