

.login-content {
    width: 400px;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-header {
    text-align: center;
}

.login-header h1 {
    font-size: 2em;
    color: #ffffff;
}

.login-header p {
    color: #ffffff;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    margin-top: 5px;
    display: block;
    color: #ffffff;
}

.submit-button {
    display: block;
    margin: 1rem auto;
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-text {
    text-align: center;
    color: #f2f2f2;
}

.signup-link {
    color: #bfb8b8;
    text-decoration: none;
    font-style: italic;
}