/* signup.css */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../media/login-background.jpg);
}

.signup-container {
    margin-top: 70px;
    width: 500px;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.signup-container label {
    margin-bottom: 7px;
}

.signup-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.signup-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.signup-subtitle {
    font-size: 1em;
    color: #888;
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.login-text {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: #007BFF;
}

.password-feedback {
    font-size: 0.8em;
}

#message {
    height: 20px;
    text-align: center;
}